* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    background-color: #f0f0f0;

}

.tools {
    margin: 0 0 10px 0;
    background-color: rgba(0, 0, 139, 0.679);
    border-radius: 15px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10%;
    width: 15%;
}

.canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91%;
    width: 90%;
    max-width: 90%;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 25px;
    box-shadow: 0 0 12px gray;
    background-color: white;
}
img{
    width: 25px;
    height: 25px;
    background: transparent;
}
button{
    cursor: pointer;
    background: transparent;
    border: none;
}

.tools input{
    background:none;
    border:none;
    cursor: pointer;
}

canvas {
    width: 100%;
    height: 100%;
}